body {
  margin: 0;
  user-select: none;
  box-sizing: border-box;
  overflow: hidden;
  font-family: 'Source Code Pro', Arial, Helvetica, sans-serif;
  font-size: .8rem;
  color: limegreen;
}

header{
  background-color: rgb(0,0,0, .6);
}

header{
  backdrop-filter: blur(4px);
  border: 1px solid black;
  text-align: center;
  padding: .25rem;
  border-radius: 20px;
  height: 20%;

}

header h1{
  margin: 0;
  margin-bottom: 1rem;
}


.main{
  padding: .25rem;
  background-image: url("../images/white-code-bg.gif");
  background-size: cover;
  background-position: center;
  height: 99vh;
  margin: 0;
}

.gamearea{
  backdrop-filter: blur(4px);
  display: inline-flex;
  flex-direction: column;
  justify-content: space-evenly;
  width : 100%;
  height: 78%;
}

.sidenav{
  display: inline-flex;
  justify-content: center;
  width: 100%;
}

.buttons{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.stats{
  margin: .25rem;
  border-radius: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stats span{
  margin: 0 1rem;
}

.row{
  padding:.2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 20vh;
  margin: .3rem;
}

.card {
  cursor: grab;
}

.card , .matched {
  background-color: transparent;
  display: inline-block;
  position: relative;
  height: 91%;
  width: 15%;
  margin: 0;
  perspective: 1000px;
  text-align: center;
  transition: all .5s;
  transform-style: preserve-3d;
}

.cardback,
.html-logo, .css-logo, .docker-logo,
.git-logo, .js-logo, .mysql-logo,
.node-logo, .php-logo, .react-logo
{
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #070707;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.cardback{
   background-image: url("../images/card-back-static.jpg");
   transform: none;
   background-size: cover;
}

.cardback:hover{
   background-image: url("../images/card-back.gif");
   transform: none;
}

.html-logo{
  background-image: url("../images/html-logo.png");

}

.css-logo{
  background-image: url("../images/css-logo.png");

}

.docker-logo{
  background-image: url("../images/docker-logo.jpg");
}

.git-logo{
  background-image: url("../images/gitHub-logo.png");

}

.js-logo{
  background-image: url("../images/js-logo.png");
}

.mysql-logo{
  background-image: url("../images/mysql-logo.jpg");
}

.node-logo{
  background-image: url("../images/node-logo.png");
}

.php-logo{
  background-image: url("../images/php-logo.jpeg");
}

.react-logo{
  background-image: url("../images/react-logo.png");
}


.flipped{
  transform: rotateY(180deg);
}

.hidden{
  visibility:hidden;
}

.endmodal {
  background-color: rgb(0,0,0, .6);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  height: 33%;
  width: 33%;
  border-radius: 50px;
  margin: auto;
}


#newgame {
  background-color:limegreen;
  color: black;
  text-align: center;
  vertical-align: middle;
  width: 55%;
  height: 30%;
  margin: auto;
  cursor: pointer;
}

#newgame:hover{
  background-color: black;
  color: limegreen;
  border: 1px solid limegreen;
}

@media screen and (max-width: 400px){
  header h1{
    font-size: 1.2rem;
  }

  .buttons, .sidenav{
    flex-direction: column;
  }

  .stats{
    height: auto;
  }
}

@media screen and (min-height: 900px){
  .row {
    height: 30vh
  }

  .card, .matched {
    width: 20%;
  }
}
