body {
  margin: 0;
  user-select: none;
  box-sizing: border-box;
  overflow: hidden;
}

header, .sidenav {
  background-color: rgba(255, 255, 255, .6);
}

header{
  border: 1px solid black;
  font-size: 3.5rem;
  text-align: center;
  padding: 5px;
  height: 12%;
  border-radius: 50px;
}

.main{
  padding: .25rem;
  background-image: url("../images/lfz-background.jpg");
  background-size: cover;
  background-position: center;
  height: 99vh;
  margin: 0;
}

.sidenav, .gamearea{

  display: inline-flex;
  flex-direction: column;
  justify-content: center;
}

.game-body{
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.gamearea{
  display: inline-flex;
  justify-content: center;
  width : 80%;
  height: 80%;
  padding: .5rem;
}

.sidenav{
  border: 1px solid black;
  height: 70%;
  width: 10%;
  border-radius: 50px;
  margin-top: 2rem;

}

.buttons{
  width: 100%;
  height: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.navhead{
  text-align: center;
}

.stats{
  border: 1px solid black;
  width: 90%;
  height: 10%;
  margin: 5px;
  border-radius: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#newgame {
  background-color:black;
  color: aqua;
   display: flex;
   justify-content: center;
  align-items: center;
}

.row{
  position: relative;
  display: flex;
  justify-content: center;
  height: 30%;
  margin: 5px;
}

.card {
  cursor: grab;
}

.card , .matched {
  background-color: transparent;
  display: inline-block;
  position: absolute;

  height: 90%;
  width: 9%;
  margin: 15px;
  perspective: 1000px;
  text-align: center;
  transition: all .5s;

  transform-style: preserve-3d;
}

.cardback,
.html-logo, .css-logo, .docker-logo,
.git-logo, .js-logo, .mysql-logo,
.node-logo, .php-logo, .react-logo
{
  position: absolute;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.cardback{
   background-image: url("../images/lfz-card.jpg");
   transform: none;
}

.html-logo{
  background-image: url("../images/html-logo.png");

}

.css-logo{
  background-image: url("../images/css-logo.png");

}

.docker-logo{
  background-image: url("../images/docker-logo.jpg");
}

.git-logo{
  background-image: url("../images/gitHub-logo.png");

}

.js-logo{
  background-image: url("../images/js-logo.png");
}

.mysql-logo{
  background-image: url("../images/mysql-logo.jpg");
}

.node-logo{
  background-image: url("../images/node-logo.png");
}

.php-logo{
  background-image: url("../images/php-logo.jpeg");
}

.react-logo{
  background-image: url("../images/react-logo.png");
}


.flipped{
  transform: rotateY(180deg);
}

.hidden{
  visibility:hidden;
}

.endmodal {
  background-color:black;
  color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  height: 33%;
  width: 33%;
  border-radius: 50px;
  font-size: 8vh;
  margin: auto;
}
