body{
  margin: 0;
}
header{
  /* background-color: lime; */
  border: 1px solid black;
  height: 60px;
}

.main{
  /* background-color: yellow; */
  height: 540px;
  position: relative;
}

.sidenav, .gamearea{
  border: 1px solid black;
  display: inline-block;
  height: 480px;
  margin: 0;
  position: absolute;
  top: 25px;
}
.sidenav{
  /* background-color: orange; */
  width: 150px;
  left: 10px;
}

.navhead{
  text-align: center;
}

.stats{
  /* background-color: black; */
  border: 1px solid black;
  width: 140;
  height: 65px;
  margin: 5px;
}

.gamearea{
  /* background-color: cyan; */
  border: 1px solid black;
  width: 1050px;
  left: 175px;
}

.row{
  /* background-color: green; */
  position: relative;
  border: 1px black solid;
  height: 145px;
  margin: 5px;
}


.card , .matched {
  background-color: transparent;
  display: inline-block;
  position: relative;
  border: 1px black solid;
  height: 135px;
  width: 95px;
  margin: 5px;
  left: 140px;
  perspective: 1000px;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.cardback, .html-logo{
  position: absolute;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
}

.cardback{
   background-image: url("../images/lfz-card.jpg");
   /* transform: rotateY(180deg); */
}

.html-logo{
  background-image: url("../images/html-logo.png");
  transform: rotateY(180deg);
}

.flipped{
  transform: rotateY(180deg);
}
